.about {
    padding: 2rem 5rem 3rem 5rem;
    font: $paragraph-font;

    &__main-title {
        font-size: 4rem;
    }

    &__intro {
        display: grid;
        grid-template: 'left left right right right';
        grid-gap: 2rem;

        &-title {
            grid-area: left;

            font-size: 2rem;
        }

        &-info {
            grid-area: right;

            text-align: justify;
        }
    }

    &__team {
        display: grid;
        grid-template: 'left right';
        grid-gap: 3rem;

        &-title {
            font-size: 2rem;
        }

        &-img {
            height: 50vh;
            width: auto;
        }

        &-member-name {
            font-weight: bolder;
            font-size: 1.2rem;
            margin-bottom: 0rem;
        }

        &-member-job {
            opacity: 60%;
        }

        &-member-phone {
            opacity: 60%;
        }

        &-member-email {
            opacity: 60%;
        }
    }
}