.footer {
    background-color: $black-color;

    &__head {
        display: flex;

        &-text {
            color: $white-color;
        }

        &-img {
            & > img {
                height: 10vh;
                width: auto;
            }    
        }
    }

    &__sub {
        display: flex;
        
        &-text {
            & > p {
                color: $white-color;
            }
        }

        &-project {
            &-list {
                color: $white-color;
            }
        }

        &-site-map {
            &-list {
                color: $white-color;
            }
        }
    }
}