.footer {
    background-color: $black-color;

    &__head {
        display: flex;
        justify-content: center;
        padding-top: 4rem;
        padding-bottom: 5rem;

        &-text {
            color: $white-color;
            padding-right: 20rem;

            & > h1 {
                font-size: 3rem;
            }
        }

        &-button {
            height: 4rem;
            width: 20rem;
            border-radius: 4rem;
            font-size: 1.5rem;
            background-color: $footer-button;

            &:hover {
                cursor: pointer;
            }
        }

        &-img {
            & > img {
                height: 25vh;
                width: auto;
            }    
        }
    }

    &__sub {
        display: flex;
        
        &-text {
            & > p {
                color: $white-color;
            }
        }

        &-project {
            &-list {
                color: $white-color;
            }
        }

        &-site-map {
            &-list {
                color: $white-color;
            }
        }
    }
}