.footer {
    background-color: $black-color;

    &__head {
        display: flex;
        justify-content: center;
        padding-top: 4rem;
        padding-bottom: 5rem;

        &-text {
            color: $white-color;
            padding-right: 40rem;

            & > h1 {
                font-size: 3rem;
            }
        }

        &-button {
            height: 4rem;
            width: 20rem;
            border-radius: 4rem;
            font-size: 1.5rem;
            background-color: $footer-button;

            &:hover {
                cursor: pointer;
            }
        }

        &-img {
            & > img {
                height: 25vh;
                width: auto;
            }    
        }
    }

    &__sub {
        display: flex;
        padding-bottom: 5rem;

        &-text {
            width: 30%;
            padding-left: 17rem;

            &-logo {
                color: $white-color;
                font-size: 2rem;
            }

            &-description {
                color: $white-color;
                font-size: 1.1rem;
            }

            &-copyright {
                color: $white-color;
                font-size: 1.1rem;
                padding-top: 4rem;
            }
        }

        &-project {
            padding-left: 4rem;

            &-list {
                color: $white-color;

                &-title {
                    font-weight: bold;
                    font-size: 1.2rem;
                }
                
                & > li {
                    list-style-type: none;
                    font-size: 1.1rem;
                    padding-top: 1rem;
                }
            }         
        }

        &-site-map {
            padding-left: 12rem;

            &-list {
                color: $white-color;

                &-title {
                    font-weight: bold;
                    font-size: 1.2rem;
                }

                & > li {
                    list-style-type: none;
                    font-size: 1.1rem;
                    padding-top: 1rem;
                }
            }
        }
    }
}