.home {
    font-family: avenir;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    width: 89%;
    // display: grid;

    &__title {
        padding-left: 8vw;
        font-size: 2.5rem;
        // grid-area: top;
        grid-gap: 2rem;
    }

    &__tagline {
        // grid-area: bottom;
        font-size: medium;
    }  
    
    &__wide-image {
        width: auto;
    }

    
}