.home {
    
    &__header {
        display: flex;
        background: $second-color;
        justify-content: center;
        padding: 5rem 2rem 5rem 2rem;

        &-text {
            color: $white-color;
            width: 50rem;
            padding-right: 1rem;

            & > h1 {
                font-size: 3rem;
            }
        }

        &-btn {
            &-clear {
                margin-right: 2rem;
                border-radius: 4rem;
                border-width: 4px;
                background: $second-color;
                color: $white-color;
                border-color: $footer-button;
                height: 3rem;
                width: 12rem;
            }

            &-full {
                background: $footer-button;
                
            }
        }


        &-img > img {
            height: 30vh;
            width: auto;
        }
    }
    
}