$paragraph-font: 'Avenir';
$logo-font: 'Playfair Display SC';

$primary-color: #e5e5e5;
$secondary-color: black;

@mixin slow-transition {
    transition: all 1s ease-in-out
}

@mixin medium-transition {
    transition: all 0.5s ease-in-out
}

@mixin fast-transition {
    transition: all 0.15s ease-in-out;
}