$paragraph-font: 'Avenir';
$logo-font: 'Playfair Display SC';

$first-color: #e5e5e5;
$first-color-shadow: #adadad;
$second-color: #333333;
$third-color: #828282;

$footer-button: #FFB524;

$black-color: black;
$white-color: white;

@mixin slow-transition {
    transition: all 1s ease-in-out
}

@mixin medium-transition {
    transition: all 0.5s ease-in-out
}

@mixin fast-transition {
    transition: all 0.15s ease-in-out;
}