@import './variables';
@import './about';
@import './blog';
@import './contact';
@import './footer';
@import './home';
@import './navigation';
@import './work';




body{
    background-color: $first-color;
}