@import './variables';
@import './navigation';
@import './footer';

@import './home';
@import './about';
@import './work';
@import './contact';

@import './blog';
@import './blog-detail';




body{
    background-color: $first-color;
}